{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        {{ form_start(form) }}
                        {% if cart.items.count > 0 %}
                        <div class="cart_title">Shopping Cart<small> {{ cart.items.count }} item(s) in your cart  </small></div>
                        <div class="cart_items">

                            <ul class="cart_list">
                                {% for item in form.items %}
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">{{ item.vars.data.product.name }}</div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">{{ item.vars.data.quantity }}</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">{{ item.vars.data.product.price }} €</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">{{ item.vars.data.product.price * item.vars.data.quantity }} €</div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Order Total:</div>
                                <div class="order_total_amount">{{ cart.total }} €</div>
                            </div>
                        </div>
                            <div class="cart_buttons"> <a href="{{ path('home') }}" class="button cart_button_clear">Continue Shopping</a> <a href="{{ path('checkout') }}" class="button cart_button_checkout">Checkout</a> </div>
                            {{ form_end(form, {'render_rest': false}) }}

                        {% else %}
                            <div class="alert alert-info">
                                Your cart is empty. Go to the <a href="{{ path('home') }}">product list</a>.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}